.heading-primary{
    font-size: 7.8rem;
    width: 100%;
    font-weight: normal;
    color: $color-purple;
    margin: 11.3rem 0 2rem 0;
}

.heading-secondary{
    height: 100vh;
    font-size: 7.2rem;
    line-height: 8.4px;
    width: 100%;
    font-weight: normal;
    color: $color-white;
    text-align: center;
    margin: 22.3rem  0;

    @include respond(tab-port) {
        height: 80vh;
        margin: 26.3rem  0;
    }

    @include respond(phone) {
        height: 60vh;
        margin: 20.3rem  0;
    }
}